@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

.dropdown-menu a{
    border: none;
}

.dropdown-menu a:hover{
    background-color: black;
    color: white;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.dropdown-item {
    font-family: 'Epilogue', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background-color: black;
    transition: 0.5s ease;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.navbar {
  font-family: "Epilouge", sans-serif;
  background-color: transparent;
  font-weight: 700;
  color: black;
}

.btn-login {
  font-weight: bold;
  color: black;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-login:hover {
  color: grey;
}

.btn-register {
  font-weight: bold;
  background-color: transparent;
  border: 2px solid black;
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}

.btn-register:hover {
  background-color: black;
  color: white;
  transition: 0.5s ease;
}

body h1 {
  font-family: "Epilouge", sans-serif;
  font-weight: 700;
}

.container img {
  max-width: 400px;
}

.title {
  font-size: 60px;
  font-weight: 900;
}

.subtitle {
  font-size: 20px;
  font-weight: 500;
  color: grey;
  padding-top: 50px;
  width: 450px;
}

.learn-btn {
  padding-top: 20px;
}

.button-learn {
  font-family: "Epilouge", sans-serif;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 10px;
  background-color: transparent;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  transition: 0.5s ease;
}

.button-learn:hover {
  background-color: black;
  color: white;
  transition: 0.5s ease;
}

.company img {
  padding: 60px 30px 0px 0px;
}

@media screen and (max-width: 768px) {
  .container img {
    max-width: 300px;
  }
  .title {
    font-size: 40px;
  }
  .subtitle {
    font-size: 15px;
    width: 300px;
  }
  .company img {
    padding: 30px 15px 0px 0px;
  }

  .column1 {
    order: 2;
  }

  .column2 {
    order: 1;
  }
}
